body{
    font-size: 0.7rem;
    font-family: 'Open Sans', sans-serif;
}


h5 {
    font-family: 'Bree Serif', serif;
    font-size: 1.35rem;
    

}
h1,h2, h3, h4 {
    font-family: 'Bree Serif', serif;
}
a {
    text-decoration: none;
    
}


.navbar-brand{
    font-family: 'Bree Serif', serif;
}
.card-body{
    padding-bottom: 0rem;
    
    
}
.card-img{
    border-radius: 0;
}
.btn-sm-my{
    font-size: .875em;
    border-radius: 10%;
    padding-top: .2em;
    padding-bottom: .2em;
}
.Comp-like{
    margin-left: 1em;
}
.comp_divider{
    border-radius: 100%;
}
.login-BG{
    background-image: url("./ressources/pics/sign-in-4.png");
    background-color: #ffaf2a;
    height:42em;
    background-position: top;
    background-repeat: no-repeat;
}
.minusTop{
    margin-top: -4rem;
    background-color: white;
}
.headline{
    font-size: 3.5em;
    color:white;
}
.headline-info{
    color:white;
    font-size:1.5em;
}
.headline-search{
    border: none;
    border-radius: 50px;

}
.headline-button{
    border-radius: 50px;
}
.tag-comp{
    background-color: white;
    border-radius: 30px;
    padding-left:3.2em;
    padding-right:1.2em;

}
.tag-label{
        padding-top: 0.1em;
}