body{
    font-size: 0.7rem;
    font-family: 'Open Sans', sans-serif;
}
h5 {
    font-family: 'Bree Serif', serif;
    font-size: 1.35rem;
    

}
h1,h2, h3, h4 {
    font-family: 'Bree Serif', serif;
}
a {
    text-decoration: none;
    
}

.navbar-brand{
    font-family: 'Bree Serif', serif;
}
.card-body{
    padding-bottom: 0rem;
    
    
}
.card-img{
    border-radius: 0;
}
.btn-sm-my{
    font-size: .875em;
    border-radius: 10%;
    padding-top: .2em;
    padding-bottom: .2em;
}
.Comp-like{
    margin-left: 1em;
}
.comp_divider{
    border-radius: 100%;
}
.login-BG{
    background-image: url("./ressources/pics/sign-in-4.png");
    background-color: #ffaf2a;
    height:42em;
    background-position: top;
    background-repeat: no-repeat;
}
.minusTop{
    margin-top: -4rem;
    background-color: white;
}


